*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#responsiveMenu{
    display: none;
}

#minCircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10000;
}
#main{
    width: 100%;
    background-color: #000;
}
#landingPage{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #a3a3a3;
    position: relative;
}
#nav{
    top: 0px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
    padding: 20px 24px;
    color: #fff;
}
#nav a{
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
#heading{
    margin-top: 76px;
}
#heading h1{
    line-height: 1;
    opacity: 1.0;
    font-size: 12vw;
    text-transform: uppercase;
    margin-left: 3vw;
    font-weight: 300;
}
#designer h1{
    display: inline-flex;
    line-height: 0.70;
    margin-left: 14vw;
    font-size: 12vw;
    font-family: 'General Sans', sans-serif;
    opacity: 1.0;
    text-transform: uppercase;
    font-weight: 300;
}

.availability{
    color: #fff;
    font-size: 1.8vw;
    margin-top: 10vh;
    text-align: right;
    text-transform: uppercase;
    line-height: 2;
    margin-right: 3vw;
}

.availability2{
    color: #fff;
    font-size: 1.8vw;
    text-align: right;
    text-transform: uppercase;
    line-height: 2;
    margin-right: 3vw;
}
#bit{
    color: #fff;
    margin-top: 3vw;
    margin-left: 59vw;
    text-transform: uppercase;
    font-size: 1.75vw;
}

#footer{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer a{
    color: #fff;
    position: relative;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: uppercase;
}

#footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

#footer #iconset{
    color: #000;
    display: flex;
    gap: 5px;
}

#secondPage{
    padding-right: 10vw;
    padding-left: 3vw;
    background-color: #000;
    padding-top: 140px;
    width: 100%;
    height: 100vh;
}

.elements{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a3a3a3;
    width: 100%;
    padding: 4vw 0vw;
    cursor: pointer;
}

.elements h5{
    color: #fff;
}

.elements h1 {
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: 7vw;
}

.elemlast{
    border-bottom: 1px solid #a3a3a3;
}

.elements img{
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);   
}

#about{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 12vw 10vw;
    padding-left: 20vw;
    width: 100%;
    background-color: #000;
}

#about img {
    width: 200px;
}

#about h5 {
    color: #a3a3a3;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about p {
    line-height: 1.7;
    color: #fff;
    margin-bottom: 30px;
}

#about a{
    padding: 8px 13px;
    border: 1px solid #fff;
    border-radius: 100px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

#content{
    width: 32rem;
}

#youtube{
    color: #fff;
    background-color: #000;
    font-family: 'General Sans', sans-serif;
    padding-left: 3vw;
}

#youtube h5{
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: 1.25vw;
}

#youtube h3{
    line-height: 2;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25vw;
    padding-bottom: 3vw;
}

#mainFooter{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerLeft{
    font-size: 1.7vw;
    padding-left: 3vw;
    padding-bottom: 3vw;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}
#footerRight {
    font-size: 1.7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    display: flex;
    align-items: center;
    gap: 15px;
}

#footerRight a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4vw;
}

.bounding{
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(115%);
}

.elements:hover h1 {
    transform: translateX(20px);
    opacity: 0.3;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

#menuButton{
    cursor: pointer;
    display: inline-block;
    transform-origin: top center;
    position: relative;
    transition: transform 0.5s, opacity 0.5s
}

.menuTrans::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.menuTrans:hover::after{
    transform: scaleX(1);
}

.menuTrans2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 10px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.menuTrans2:hover::after{
    transform: scaleX(0.9);
}

#menuButton.active{
    transform: translateY(20%);
    opacity: 0;
}

#menuLinks{
    display: none;
}

#menuLinks.active{
    display: block;
}

#menuLinks a{
    padding-left: 15px;
}

@media (max-width: 440px) {
    #bit{
        margin-left: 0vw;
    }
    #bit h5{
        padding: 0px 17px ;
    }
    #designer h1{
        margin-left: 11px;
    }
}

@media (max-width: 640px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'General Sans', sans-serif;
    }
    html,body{
        width: 100%;
        height: 100%;
    }
    #about a{
        padding: 4px 7px;
        font-size: 8px;
    }
    #about h5{
        margin-bottom: 15px;
    }
    #minCircle{
        display: none;
    }
    html,body{
        width: 100%;
        height: 100%;
    }
    #heading h1{
        font-size: 70px;
        margin-left: 3.5vw;
    }
    #designer h1{
        font-size: 70px;
    }
    #bit h5{
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    #footer a{
        font-size: 10px
    }
    #footer .circle{
        width: 20px;
        height: 20px;
    }
    .availability h5{
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
        font-size: 11px;
        margin-top: 18vh;
    }
    .availability2 h5{
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
        font-size: 11px;
    }
    #secondPage{
        height: 100vw;
        padding-left: 5vw;
        padding-top: 100px;
    }
    #about {
        gap:35px;
        flex-direction: column;
        text-align: center;
        padding-left: 10vw;
    }
    #about img{
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
    #about p{
        text-align: left;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 12px;
        margin-bottom: 20px;
        padding-left: 2vw;
    }
    #content{
        width: 100%;
        padding: 0vw 0vw;
    }
    #youtube h3{
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
        font-size: 7px;
    }
    #youtube h5{
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
        font-size: 7px;
    }
    #footerLeft h5{
        font-family: 'General Sans', sans-serif;
        font-weight: 400;
        font-size: 8px;
    }
    #footerRight a{
        font-size: 8px;
    }
    .elements h1{
        font-family: 'General Sans', sans-serif;
        font-size: 35px;
        font-weight: 600;
    }
    .elements h5{
        font-family: 'General Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
    }
    #nav a{
        font-family: 'General Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
    }
    #nav h4{
        font-family: 'General Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
    }


    #responsiveMenu.active{
        display: block;
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
    }
    #nav2{
        height: 20vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 4vw;
        border-bottom: 1px solid #a3a3a3;
    }
    #nav2 h1{
        color: #fff;
        font-family: 'General Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
    }
    #nav2 #close{
        font-size: 16px;
        text-transform: uppercase;
    }
    #menuContent{
        height: 80vh;
        padding: 10vw 5vw;
    }
    #menuContent h1{
        color: #a3a3a3;
        font-size: 50px;
        font-weight: 550;
        font-family: 'General Sans', sans-serif;
        line-height: 25vw;
    }
    #menuFooter{
        border-top: 1px solid #a3a3a3;
        padding: 0vw 4vw;
        height: 20vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #menuFooter h1{
        color: #fff;
        font-family: 'General Sans', sans-serif;
        font-size: 10px;
        font-weight: 300;
    }
}
@media (max-height:740px){
    #menuContent h1{
        line-height: 23.5vw;
    }
}
@media (max-height:680px){
    #menuContent h1{
        font-size: 40px;
        line-height: 19vw;
    }
    #menuFooter{
        padding-bottom: 5vw;
    }
}